PRIVATE_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
RPC_URL_RSK_TESTNET=https://public-node.testnet.rsk.co
RPC_URL_RSK_MAINNET=https://public-node.rsk.co
ROOTSTOCK_BLOCKSCOUT_API_KEY=
FORK_URL=https://public-node.rsk.co
FORK_BLOCK=7950280
FORK_NETWORK_NAME=rskMainnet